{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us" style="margin-top: 150px;">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>🍔</h2>
                <p>We're open in those districts</p>
            </div>

            <div class="row">
                {% for district in districts %}
                    <div class="col-lg-4 mt-4">
                        <div class="box" data-aos="zoom-in" data-aos-delay="100">
                            <span>01</span>
                            <h4>
                                <a href="{{ path('district_show', {'id': district.id}) }}">
                                    {{ district.name }}
                                </a>
                            </h4>
                            <p>Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et consectetur ducimus vero placeat</p>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </section><!-- End Why Us Section -->
{% endblock %}
