<div class="col-lg-4 mt-4">
    <div class="box" data-aos="zoom-in" data-aos-delay="100">
        <span>{{ id }}</span>
        <h4>
            <a href="{{ url }}">
                {{ name }}
            </a>
        </h4>
        <p>Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et consectetur ducimus vero placeat</p>
    </div>
</div>